<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <title>Registration for 5G hackathon</title>
  </head>
  <body>
   <form action="{% url 'save' %}" method="post">
   {% csrf_token %}
       <table align="center" border="0">
           <tr align="center" style="color: blue"><th colspan="2">REGISTRATION FOR 5G HACKATHON</th></tr>
           <tr><th>First Name:</th>
               <th><input type="text" name="fname" required></th></tr>
           <tr><th>Last Name:</th>
               <th><input type="text" name="lname" required></th></tr>
           <tr><th>Mobile Number:</th>
               <th><input type="tel" name="mobilenumber" required  pattern="[789][0-9]{9}"></th>
                <td>Note:Enter 10 digit mobile number</td></tr>

           <tr><th>Email:</th>
               <th><input type="email" name="email" required></th></tr>
           <tr align="center"><th colspan="2"><button type="submit">Register</button> </th></tr>
            {% if data %}
       <tr align="center" style="color: green"><th colspan="2">{{ data }}</th></tr>
{% endif %}
       {% if data1 %}
       <tr align="center" style="color: red"><th colspan="2">{{ data1 }}</th></tr>
{% endif %}
       </table>
   </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>